.box {
	margin: 0;
	padding: 0;
	background-color: black;

}



.flex {
	display: flex;
	background-color: white;
	flex-wrap: wrap;


}

.screen {
	margin: 0 auto;
	height: 600px;
	width:	600px;
	border: solid;
}